div.embed_viewer
{
    overflow: auto;
}

div.embed_viewer img.embed_logo
{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
}

body.embedded
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
}

body.embedded div.header,
body.embedded div.intro,
body.embedded div.main_left_container,
body.embedded div.main_right_container,
body.embedded div.main_splitter,
body.embedded div.ov_bottom_floating_panel
{
	display: none !important;
}

body.embedded div.main
{
	display: block !important;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body.embedded div.main_viewer
{
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
	border: none;
}

body.embedded div.main_viewer canvas
{
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	border: none !important;
	display: block;
	touch-action: none;
}
